.answer-container input {
  margin-left: 20px;
}

.answer-container {
  margin-left: 20px;
}

.tencontainer {
  /* border: 3px solid greenyellow; */
  margin: 20px auto;
  width: auto;
}

.sum-container {
  border: 1px solid rgb(1, 9, 46);
  background-color: rgba(236, 221, 205, 0.9);
  color: rgb(24, 61, 104);
  /* color: white; */
  /* font-weight: bold; */
  font-family: "Arial";
  font-weight: bold;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  width: 250px;
  margin: 2px;
  padding-top: 3px;
}

.sum {
  display: flex;
  flex-direction: row;
  width: 50px;
  /* border: 2px solid lightseagreen; */
}

.sum-element {
  margin: 5px;
}

.result {
  width: 30px;
  margin: 5px;
}

.right_or_wrong-circle {
  width: 15px;
  height: 15px;
  border: 1px solid transparent;
  border-radius: 50%;
  align-self: center;
  margin-left: 30px;
  background-color: transparent;
}

.right_or_wrong-circle_red {
  width: 15px;
  height: 15px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 50%;
  align-self: center;
  margin-left: 30px;
  background-color: red;
}

.right_or_wrong-circle_green {
  width: 15px;
  height: 15px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 50%;
  align-self: center;
  margin-left: 30px;
  background-color: rgb(5, 201, 5);
}

body {
  background-color: rgb(250, 210, 150);
}

@media only screen and (max-width: 900px) {
  .tencontainer {
    margin: 20px auto;
  }
}
